#!/usr/bin/make -f

VERSION	:= $(shell dpkg-parsechangelog | sed -n -e 's/~//' -e 's/^Version: \(.*\)-[^-]*$$/\1/p')

ifeq ($(DEB_HOST_ARCH), amd64)
SOURCE	:= 64bit
else
SOURCE	:= 32bit
endif

%:
	dh $@

override_dh_auto_build:
	tar xvzf whatpulse-linux-$(SOURCE)-$(VERSION).tar.gz > extracted-files

override_dh_clean:
	test -e extracted-files && rm -f extracted-files $$(cat extracted-files) || true
	dh_clean
	